.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infoRow{
  text-decoration: none;
  color: inherit;
  max-width: 95%;
}
.infoRow>div{
  padding: 0.1rem 0;
}