body{
  background: #222 !important;
  color: white !important;
  height: 100vh;
  font-family: 'Roboto';
}

main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_info_container{
 background: #000;
 height: 95vh;
 min-height: 500px;


  width: 95vw;
  max-width: 400px;
}

#surebets_container{
  overflow-y: auto;
}

#floatingWindow{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: auto !important;
  height: auto;
  z-index: 100;
}
