 body{
  background: #222;
  color: white;
  font-family: 'Roboto', sans-serif;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}


i {
  display: grid;
  place-items: center;
  margin: 0.2em;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: white !important;
}

.hoverable{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hoverable:hover{
  transform: scale(1.07);
}